body{
    font-family: Arial;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 400px;
    text-align: center;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
}

button{
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
}

.note{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    border-radius: 5px;
}

.note button{
    margin-top: 10px;
}